{% extends "assassins_base.html" %}

{% block title %}{{ block.super}}{% endblock %}

{% block content %}
{% if playerlist %}
    <table>
        <tr>
            <th colspan=3>Current Game</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Kills</th>
            <th>Alive</th>
        </tr>
        {% for player in playerlist %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.kills }}</td>
            <td>{{ player.alive }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No active players. Must not be a game going on.</p>
{% endif %}
{% endblock %}
