{% extends "assassins_base.html" %}

{% block title %}{{ block.super}} - Leaderboard{% endblock %}

{% block content %}
    <p><h2>Assassins Leaderboard</h2></p>
    {% if playerlist %}
    <table>
        <tr>
            <th>Name</th>
            <th>Kills</th>
        </tr>
        {% for player in playerlist %}
        <tr>
            <td class="namecol {% cycle "odd" "even" %}">{{ player.name }}</td>
            <td class="numcol {% cycle "odd" "even" %}">{{ player.career_kills }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No players. Holler at an admin to fix it.</p>
{% endif %}
{% endblock %}
