{% extends "assassins_base.html" %}

{% block title %}{{ block.super}} - News Archive{% endblock %}

{% block content %}
    <p><h2>Assassins News Archive</h2></p>
    {% if newslist %}
    <ul>
    {% for report in newslist %}
        {% if report.report_type == "KILL" %}
        <li>{{ report.pub_date }} - <a href="/assassins/news/{{ report.id }}/">{{ report.message_tag }}</a></li>
        {% else %}
        <li>{{ report.pub_date }} - <strong><a href="/assassins/news/{{ report.id }}/">{{ report.message_tag }}</a></strong></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>Oops, no news. Looks like the database got busted.</p>
{% endif %}
{% endblock %}
