{% extends "assassins_base.html" %}

{% block title %}{{ block.super }} - Report a Kill{% endblock %}

{% block content %}
<h2>Report a Kill</h2>

{% if system_message %}
<p><strong>{{ system_message }}</strong></p>
{% endif %}

<form action="" method="post">
{% csrf_token %}
    Your Name:<br/> 
    <input type="text" name="playername">
    <br/><br/>
    Your Key:<br/> 
    <input type="text" name="playerkey">
    <br/><br/>
    Target's Key:<br/> 
    <input type="text" name="targetkey">
    <br/><br/>
    <input type="submit" value="Report"/>
</form>
{% endblock %}
