html {
    margin:0;
    padding:0;
    color:#000;
    background-image:linear-gradient(left, #15aa48 0%, white 50%, #15aa48 100%);
    background-image:-moz-linear-gradient(left, #15aa48 0%, white 50%, #15aa48 100%);
    background-image:-webkit-linear-gradient(left, #15aa48 0%, white 50%, #15aa48 100%);
    background-image:-o-linear-gradient(left, #15aa48 0%, white 50%, #15aa48 100%);
    background-color:#15aa48;
}

body {
    font-family:Arial,Helvettica,sans-serif;
}

#wrap {
    width:800px;
    padding:0;
    margin:0 auto;
    background:#cdcdb4;
    border-style:solid;
    border-width:1.5px;
    border-color:black
}
        
#header {
    background:#cdcdb4;
    padding:5px 10px;
}
        
#navbar {
    background:#90907e;
    padding:5px 10px;
}
#navbar ul {
    margin:0;
    padding:0;
    list-style:none;
}
#navbar li {
    display:inline;
    margin:0;
    padding:0;
}
        
#content {
    background:#ffffff;
    float:left;
    width:600px;
    margin:0;
    padding:10px;
}
        
#sidebar {
    background:#cdcdb4;
    float:right;
    width:180px;
    margin:0;
}
#sidebar ul {
    margin:20px;
    padding:0;
    list-style:none;
}
#sidebar li {
    margin:2px;
    padding:0;
}
        
#footer {
    background:#90907e;
    clear:both;
    padding:5px 10px;
}
