body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:#ff9900;
}

#wrap {
    width:800px;
    padding:0;
    margin:0 auto;
    background:#cdcdb4;
}
        
#header {
    background:#cdcdb4;
    padding:5px 10px;
}
        
#navbar {
    background:#90907e;
    padding:5px 10px;
}
#navbar ul {
    margin:0;
    padding:0;
    list-style:none;
}
#navbar li {
    display:inline;
    margin:0;
    padding:0;
}
        
#content {
    background:#ffffff;
    float:left;
    width:600px;
    margin:0;
    padding:10px;
}
        
#sidebar {
    background:#cdcdb4;
    float:right;
    width:180px;
    margin:0;
}
        
#footer {
    background:#90907e;
    clear:both;
    padding:5px 10px;
}
