html {
    margin:0;
    padding:0;
    color:#000;
    background-image:linear-gradient(left, #15aa48 0%, white 50%, #15aa48 100%);
    background-image:-moz-linear-gradient(left, #15aa48 0%, white 50%, #15aa48 100%);
    background-image:-webkit-linear-gradient(left, #15aa48 0%, white 50%, #15aa48 100%);
    background-image:-o-linear-gradient(left, #15aa48 0%, white 50%, #15aa48 100%);
    background-color:#15aa48;
}

body {
    font-family:Arial,Helvettica,sans-serif;
}

#wrap {
    width:800px;
    padding:0;
    margin:0 auto;
    background:#5bc47f;
    border-style:solid;
    border-width:1.5px;
    border-color:#003300;
}
        
#header {
    background:#5bc47f;
    padding:0;
    margin:0;
    border-bottom-style:solid;
    border-bottom-width:1.5px;
    border-bottom-color:#003300;

}
        
#navbar {
    background:#15aa48;
    padding:5px 10px;
    border-bottom-style:solid;
    border-bottom-width:1.5px;
    border-bottom-color:#003300;
}
#navbar ul {
    margin:0;
    padding:0;
    list-style:none;
}
#navbar li {
    display:inline;
    margin:0;
    padding:0;
}
        
#content {
    background:#ffffff;
    float:left;
    width:600px;
    margin:0;
    padding:10px;
    border-right-style:solid;
    border-right-width:1.5px;
    border-right-color:#003300;
}
        
#sidebar {
    background:#5bc47f;
    float:right;
    width:178px;
    margin:0;
}
#sidebar ul {
    margin:20px;
    padding:0;
    list-style:none;
}
#sidebar li {
    margin:2px;
    padding:0;
}
        
#footer {
    font-size:0.75em;
    background:#15aa48;
    clear:both;
    padding:5px 10px;
    border-top-style:solid;
    border-top-width:1.5px;
    border-top-color:#003300;
}
