<html lang="en">
    <head>
    <title>{% block title %}UTK HvZ Club{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <style type="text/css">
        {% block style %}
        {% endblock %}
    </style>
    </head>

    <body>
        <div id="wrap">
            <div id="header">
                {% block header %}
                <h1>I AM BANNER!</h1>
                {% endblock %}
            </div>

            <div id="navbar">
                {% block nav %}
                <ul>
                    <li><a href="http://utkhvz.com">HvZ Home</a></li>
                    <li><a href="/assassins/">Assassins Portal</a></li>
                </ul>
                {% endblock %}
            </div>
        
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>

            <div id="sidebar">
                {% block sidebar %}
                {% endblock %}
            </div>

            <div id="footer">
                {% block footer %}
                <p>
                Humans vs. Zombies and HvZ are registered trademarks of 
                Gnarwhal Studios.
                </p>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
